* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
    --bgColor: #00356B;
    --bgColor2: linear-gradient(160deg, rgb(0, 147, 233, 0.1) 0%, rgb(128, 208, 199, 0.25) 100%);
    --textColor: #fdfdfd;
    --borderColor: rgba(255, 255, 255, 0.1);
    
}

html{
    background: var(--bgColor);
    color: var(--textColor);
}

main .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.to-do-list-board{
    background: var(--bgColor2);
    height: 450px;
    width: 450px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px #000000;
    border: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    gap: 55px;
    overflow: auto;
}

.task-input{
    display: flex;
    justify-content: space-between;
}

.task-input input{
    width: 70%;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--borderColor);
    color: #fdfdfd;
    font-weight: 600;
    font-size: 1em;
}

.task-input button{
    width: 24%;
    height: 40px;
    cursor: pointer;
    border: 0.5px solid var(--borderColor);
    border-radius: 2px;
    box-shadow: 1px 1px 2px #000000;
}

.task-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-list ul li{
   background: #fdfdfd;
   color: #000000;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   font-weight: 600;
   border: 0.5px solid var(--borderColor);
   border-radius: 2px;
   box-shadow: 1px 1px 2px #000000;
}

.listItems {
    background: #fdfdfd;
    color: #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-weight: 600;
    border: 0.5px solid var(--borderColor);
    border-radius: 2px;
    box-shadow: 1px 1px 2px #000000;
}

.task-list ul li > button{
    width: 25px;
    cursor: pointer;
    border: 0.5px solid var(--borderColor);
    border-radius: 2px;
    box-shadow: 1px 1px 2px #000000;
}

.task-list ul > span{
    padding-top: 12vh;
    font-size: 1.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
}


@media only screen and (max-width: 350px) {
    html{
        font-size: 0.70em;
    }
}

@media only screen and (min-width: 351px) and (max-width: 376px) {
    html{
        font-size: 0.75em;
    }
}

@media only screen and (min-width: 376px) and (max-width: 450px) {
    html{
        font-size: 0.80em;
    }
}